@font-face {
    font-family: 'icomoon';
    src:    url('./fonts/icomoon.eot?j5yd7m');
    src:    url('./fonts/icomoon.eot?j5yd7m#iefix') format('embedded-opentype'),
        url('./fonts/icomoon.ttf?j5yd7m') format('truetype'),
        url('./fonts/icomoon.woff?j5yd7m') format('woff'),
        url('./fonts/icomoon.svg?j5yd7m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e600";
}
.icon-user:before {
    content: "\e601";
}
.icon-menu:before {
    content: "\e602";
}
.icon-arrow-left:before {
    content: "\e603";
}
.icon-arrow-right:before {
    content: "\e604";
}
.icon-twitter:before {
    content: "\e605";
}
.icon-facebook:before {
    content: "\e606";
}
.icon-googleplus:before {
    content: "\e607";
}
.icon-office:before {
    content: "\e608";
}
.icon-close:before {
    content: "\e609";
}
.icon-arrow-down:before {
    content: "\e60a";
}
.icon-search:before {
    content: "\e60b";
}
.icon-avotz:before {
    content: "\e60c";
}
.icon-mail:before {
    content: "\e60d";
}
.icon-key:before {
    content: "\e60e";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-calendar:before {
    content: "\f073";
}
.icon-dollar:before {
    content: "\f155";
}
.icon-download:before {
    content: "\e900";
}
.icon-youtube:before {
    content: "\e901";
}
.icon-youtube2:before {
    content: "\e902";
}
.icon-usd:before {
    content: "\f155";
}
.icon-$:before {
    content: "\f155";
}
.icon-₡:before {
    content: "₡";
}

